<h1>Products</h1>
<table>
	<tr>
		<td>Name</td>
		<td>Description</td>
		<td>Created At</td>
	</tr>
	<%@products.each do |product|%>
	<tr>
		<td><%=product.name%></td>
		<td><%=product.description%></td>
		<td><%=product.created_at%></td>
	</tr>
	<%end%>

	<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error")%>prohibited this post from being saved:</h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</table>

<h2>Create new product</h2>
<form action="/products/" method="post">
<input name="authenticity_token" value="<%=form_authenticity_token%>" type="hidden">
	<input type="text" name="name" placeholder="Product Name"/><br/>
	<textarea name="description" placeholder="Description"></textarea>
	<input type="submit" value="Create">

</form>

